@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer components {
  .icon-sm {
    width: 1rem;
    height: 1rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
