SECRET_KEY=replace-with-a-django-secret
ENGINE=django.db.backends.postgresql
DB_NAME=inventorymanager
DB_USER=inventorymanager
DB_PASSWORD=replace-with-db-password
DB_PORT=5432
DB_HOST=localhost
DB_TEST_NAME=inventorymanager_test
DB_TEST_USER=inventorymanager_test
DB_TEST_PASSWORD=replace-with-test-db-password
DB_TEST_PORT=5433

ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DEBUG=1

DJANGO_PORT=8002
BASE_URL=http://localhost:8002
NGINX_PORT=8083
