SECRET_KEY=replace-with-a-django-secret
ENGINE=django.db.backends.postgresql
DB_NAME=inventorymanager_test
DB_USER=inventorymanager_test
DB_PASSWORD=replace-with-test-db-password
DB_PORT=5433
DB_HOST=localhost

ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DEBUG=1

DJANGO_PORT=8003
BASE_URL=http://localhost:8003

E2E_ADMIN_USERNAME=admin
E2E_ADMIN_PASSWORD=test123
E2E_USER_USERNAME=TestUser
E2E_USER_PASSWORD=test123
E2E_LOCATION_NAME=Cypress Test Location
